html, body{
    margin: 0px;
    padding: 0px;
}

#container {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows:  40px 20px 1fr 2fr 20px;
    grid-template-areas:
    'he1 he1 he1 '
    'nv nv nv'
    'mn mn mn'
    'se se se'
    'fo fo fo'
}

header {
    grid-area: he1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: green;
    color: white;
}


header h1 {
    margin: 0;
    font-size: 1.4rem;
}


.logo {
    font-size: 1.6rem;
}

.social img {
    width: 25px;
    height: auto;
    margin-left: 15px;
}

footer{
     grid-area: fo;
     display: flex;
    background-color:gray ;
   
}   

section {
    grid-area: se;
   
    gap: 20px;
    padding: 20px;
    background-color: green
}
main{
    grid-area: mn;
    display: flex;
    background-image: url(/img/ChatGPT\ Image\ 23\ feb.\ 2026\ 13_35_13.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px
}   

nav {
    grid-area: nv;
    background-color: rgb(12, 96, 12);
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;     
    display: flex;        
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: yellowgreen;
}

img {
    filter: sepia(40%) saturate(120%);
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
.card h2 {
    margin-top: 0;
}

.info-section {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: green;
}


.top-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.bottom-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
@media (max-width: 768px) {

    .image-row {
        display: none;
    }
  .bottom-sections{
    display: none;
  }
  .top-sections {
        grid-template-columns: 1fr;
    }
}

.highlight {
    background: #dce9d6;
    border-radius: 12px;
    padding: 25px;
    
}

.highlight h2 {
    margin-bottom: 15px;
    color: #1e4d2b;
}

.date {
    font-weight: bold;
    margin-bottom: 10px;
    color: #1e4d2b;

}

.match {
    background: #1e4d2b;
    color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: linear-gradient(to bottom, green, rgb(0, 90, 0));
    color: white;
    padding: 20px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(to bottom, red, rgba(255, 0, 0, 0.539));
}